<html ng-app="personInfoModule">
<head>
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>

    <script src="~/MyScripts/pModule.js"></script>
    <script src="~/MyScripts/pService.js"></script>
    <script src="~/MyScripts/pController.js"></script>

    <script src="~/MyScripts/pDirective.js"></script>
</head>
<body  class="container" ng-controller="personInfoController">
    <h1>
        Person Information Portal
    </h1>
    <person-form></person-form>
</body>
</html>